{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Вход
{% endblock %}
{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>
        У вашего аккаунта нет доступа к этой странице.
        Чтобы продолжить, войдите в систему с аккаунтом,
        у которого есть доступ.
      </p>
    {% else %}
      <p>
        Пожалуйста, войдите в систему,
        чтобы просматривать эту страницу.
      </p>
    {% endif %}
  {% endif %}

  <div class="card col-4 m-3">
    <div class="card-header">
      Войти в систему
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-secondary">Войти</button>
      </form>
      <div>
        <a href="{% url 'password_reset' %}" style="color: black">Забыли пароль?</a>
      </div>
    </div>
  </div>
{% endblock %}