{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Список задач
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Список задач</h2>
        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Поиск задачи по названию" value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-outline-secondary">Поиск</button>
            </div>
        </form>
    <div class="row">
        {% for todo in todo_list %}
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'detail' todo.pk %}">{{ todo.name }}</a></h5>
                    <p class="card-text">{{ todo.description|truncatewords:10 }}</p>
                    <p class="card-text">{{ todo.add_date }}</p>
                    <a href="{% url 'delete' todo.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Список задач пуст</p>
        {% endfor %}
    </div>
</div>
{% include "includes/paginator.html" %}
{% endblock %}
